form.datepicker__form
  .datepicker__container
    .datepicker__main
      input.datepicker__input(data-start_year='2016' data-start_month='03')
    .datepicker__edit
      .datepicker__edit_header
        .datepicker__edit_header_title Сентябрь 2018
        .datepicker__edit_close
      .datepicker__edit_container
        .datepicker__edit_month
          span.datepicker__edit_month_item(data-month = '1') Янв.
          span.datepicker__edit_month_item(data-month = '7') Июль.
          span.datepicker__edit_month_item(data-month = '2') Фев.
          span.datepicker__edit_month_item(data-month = '8') Авг.
          span.datepicker__edit_month_item(data-month = '3') Март.
          span.datepicker__edit_month_item(data-month = '9') Сен.
          span.datepicker__edit_month_item(data-month = '4') Апр.
          span.datepicker__edit_month_item(data-month = '10') Окт.
          span.datepicker__edit_month_item(data-month = '5') Май.
          span.datepicker__edit_month_item(data-month = '11') Ноя.
          span.datepicker__edit_month_item(data-month = '6') Июнь.
          span.datepicker__edit_month_item(data-month = '12') Дек.
        .datepicker__edit_years
          span.datepicker__edit_years_item(data-year = '2018') 2018
          span.datepicker__edit_years_item(data-year = '2017') 2017
          span.datepicker__edit_years_item(data-year = '2016') 2016
          span.datepicker__edit_years_item(data-year = '2015') 2015
          span.datepicker__edit_years_item(data-year = '2014') 2014
          span.datepicker__edit_years_item(data-year = '2013') 2013
          span.datepicker__edit_years_item(data-year = '2012') 2012
          span.datepicker__edit_years_item(data-year = '2011') 2011
          span.datepicker__edit_years_item(data-year = '2010') 2010
          span.datepicker__edit_years_item(data-year = '2009') 2009
          span.datepicker__edit_years_item(data-year = '2008') 2008
          span.datepicker__edit_years_item(data-year = '2007') 2007
          span.datepicker__edit_years_item(data-year = '2006') 2006
          span.datepicker__edit_years_item(data-year = '2005') 2005
          span.datepicker__edit_years_item(data-year = '2004') 2004
